# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/codeshelf.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/git_toolbox_prj.xml
/.claude/settings.local.json
/node_modules/
/package-lock.json
/dist/
/.idea/workspace.xml
